<h2>{{title}}</h2>
<p  style="font-size:20px">{{content}}</p>
<p>Created by: {{user.username}} on {{date_created}}</p>

{{#if loggedIn}}
<form id="commentForm" class="new-comment-form" data-blogid={{id}}>
    <div class="textAreaCont p-2">
        <textarea id='comment_text' name="comment-body" placeholder="Enter a comment here..." cols="30"
            rows="2"></textarea>
    </div>
    <div class="btnComment p-2">
        <button class="button btn btn-success" type="submit">Add Comment</button>
    </div>
</form>
{{/if}}


<h3 class="text-center">Comments</h3>
{{#each comments}}
<div class="commentCont">
    <p class="commentText">{{comment_text}}</p>
    <p class="commentOwner"><span>~</span>Created by {{user.username}} on {{date_created}}<span>~</span></p>
    {{#if loggedIn}}
              <button class="commentDeleteBtn">Delete</button>
          {{else}}
            <hr>
          {{/if}}
</div>
<hr>
{{/each}}

<script src="/js/comment.js"></script>